.avatar__content--headings{
    font-family: arial;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $color-dark-grey; 
}

h1{
  font-size: 24px !important;
  font-weight: bold;
  
}

h2{
    
  line-height: 1.53;
  font-size: 18px !important;
  font-weight:300;
  
}